<div class="jumbotron">
    <div class="container">
       <h1>Store learning updates for your ROR coding projects</h1>
       <p>Small updates on your online coding courses and projects lets you access your notes from anywhere, search them and add all possible media. Keep track of all the resources and tools you use in building your projects. Get help from friends when you run into trouble.</p>
       <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">

	<div class="row">
		<%= @projects.each do |project| %>
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail" style="min-height:450px;height:450px;">
			      <%= link_to_image (project.image.url), project_path(project) %>
			      <div class="caption">
			        <h2><%= link_to project.title, project_path(project) %></h2>
			        <p><%= truncate (project.body), :length =>180 %></p>
			      </div>
			    </div>
			  </div>
		<% end %>
	</div>


</div>