<p><%= link_to "New Subject", new_subject_path %></p>

<%= @subjects.each do |subject| %>

	<h2><%= link_to subject.title, subject_path(subject) %></h2>

	<%# image_tag subject.image.url %>


<% end %>